@import "../../settings.scss";

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: 1px solid $gray;
  border-radius: 8px;
  &__box {
    scrollbar-width: thin;
    color: $white;
    font-size: 16px;
    &--container{
      flex-grow: 1;
      overflow-y: scroll;
      margin: 8px;
    }
  }
  &__input{
    height: 24px;
    background: $light-blue;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid $gray;
    outline: none;
    &--container{
      border-top: 1px solid $gray;
      padding: 8px;
    }
  }
  &__send{
    height: 24px;
    background: $light-blue;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid $gray;
    border-left: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $light-blue;
  border-radius: 4px;
  border: 1px solid $gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gray;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $white;
}
