<div class="header">
  <div class="container h-100">
    <div class="row h-100">
      <div class="p-0 col-10 offset-1 col-lg-8 offset-lg-2">
        <div class="header__title">Boblin Assistant</div>
      </div>
      <div class="p-0 col-10 offset-1 col-lg-8 offset-lg-2">
        <div class="nav">
          <a class="nav__link mr-2" routerLink="home" routerLinkActive="nav__link--active">Home</a>
          <a class="nav__link mr-2" routerLink="room" routerLinkActive="nav__link--active">Room</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="division"></div>
<router-outlet></router-outlet>