.app{
    display: flex;
    flex-wrap: wrap;
    &__dice-table {
        width: 65vw;
        height: 80vh;
        background: #1E2529;
    }
    
    &__users {
        width: 35vw;
        height: 100vh;
        background: #003367
    }
    
    &__chat {
        width: 65vw;
        height: 20vh;
        background: #2F3133;
    }
}

