<div class="chat container-fluid p-0 h-100">
    <div class="row chat__box--container">
        <div class="col-12 chat__box">
            <span class="row" *ngFor="let msg of messages">
                {{ msg.from.name }}: {{ msg.content }}
            </span>
        </div>
    </div>
    <div class="chat__input--container row m-0">
        <input class="col-9 chat__input" autofocus type="text" [(ngModel)]="input" (keydown)="handleEnter($event)">
        <input class="col-3 chat__send" type="button" value="Send" (click)="sendMessage()">
    </div>
</div>