<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="login__container p-3 p-sm-5">
                <span class="login__title pb-3">Login</span>
                <div class="login" (click)="authenticate()">
                    <img class=" login__icon" src="/assets/icons/google-icon.svg" alt="google">
                    <div class="login__text">
                        Login with Google
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>